@{
    ViewBag.Title = "About";
}


<div class="container">

    <div class="blog-header">
        <h1 class="page-header">Finanace Resources</h1>
        
    </div>

    <div class="row">

        <div class="col-sm-12 blog-main">

            <div class="blog-post">
                <h2 class="blog-post-title">Financial Literacy for "Parents"</h2>
                

                <div>
                    As parents, we are solely responsible for teaching our kids financial literacy. To teach them, we need to learn a couple of things ourselves first.
                    To get started here is a list to go through to inherit the habit of saving.

                </div>
                <hr>
                <div>
                    <b>Articles</b>
                    <p>
                        Expecting that you might be in different stages of life, let’s assume first that you are just expecting a child. It's hard to picture your pipsqueak all grown up and graduating from high school while he’s still a bundle in your belly, but with tuition skyrocketing twice as fast as inflation, the time to start saving for college is now. To read more, 
                        <a href="https://www.whattoexpect.com/pregnancy/save-for-your-babys-future.aspx" target="_blank" class="btn btn-mini ">click here</a>
                        
                        If you are in a stage where your kid is in school, it’s better to start saving for college from now. To read more 

                        <a href="https://www.moneytalksnews.com/ask-stacy-1118-whats-the-best-way-save-for-kids-college/" target="_blank" class="btn btn-mini">click here</a>
                       

                    </p>
                    
                    <b>Blogs</b>
                    <p>
                        <a href=" http://www.themint.org/parents/parent-blog.html" target="_blank" > http://www.themint.org/parents/parent-blog.html</a>
                       

                   </p>

                    <b>Resources</b>
                    <p>
                        For some parents, talking to a child about money is almost as hard as broaching some of those other difficult subjects.
                        But understanding what money is and how to manage it is a crucial life skill parents must pass on to their children.
                        Know more by
                        <a href="http://www.360financialliteracy.org/Life-Stages/Parents-Children" target="_blank" class="btn btn-xs btn-mini">clicking here</a>
                    </p>
                </div>
               <br /><br />
                <hr class="colorgraph"/>
                <br />
                <div class="blog-post">
                    <h2 class="blog-post-title">Financial Literacy for "Children"</h2>
                    

                    
                    <div>
                        <b>Articles</b>
                        <p>
                            <a href="http://www.themint.org/kids/saving-tricks.html" target="_blank">
                                http://www.themint.org/kids/saving-tricks.html
                            </a>

                        </p>

                        <b>Blogs</b>
                        <p>
                            Stay updated every week by reading up this “Kewl” blog. Want to get some tips to start your own side business, 
                            read up  
                            <a href="http://bizkids.com/blog" target="_blank" class="btn btn-xs btn-mini">click here</a>


                        </p>

                        <b>Resources</b>
                        <p>
                            Interested in becoming a millionaire? Running short on video games, Soda or popsicle supplies while your friends have it all. Well you can’t be the king of both worlds, these small pleasures are to be sacrificed for bigger goals. Follow this link to know more
                            <a href="http://www.themint.org/kids/when-will-you-be-a-millionaire.html" target="_blank" class="btn btn-xs btn-mini">clicking here</a>
                        </p>
                        <p>
                            Need help with online resources, want to have fun and stay sharp at financial literacy at the same time, 
                            <a href="http://bizkids.com/games" target="_blank" class="btn btn-xs btn-mini">click here</a>
                             
                        </p>
                    </div>


                </div>

                </div>

            </div>
