
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Parents Bank</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/device-mockups.css" rel="stylesheet">
    <link href="~/Content/new-age.css" rel="stylesheet">
</head>
<body id="page-top">

    <!--  <div id="navigation"></div>

    <div id="content">
    </div>

    <div id="tut"></div> -->
    <div id="reglog"></div>
    <section class="cta">
        <div class="cta-content">
            <div class="container">
                <h3>Stop Waiting.<br>Start Saving.</h3>
                <a href="#" class="btn btn-outline btn-xl js-scroll-trigger" data-toggle="modal" data-target="#myModal">Let's Get Started!</a>
            </div>
        </div>
        <div class="overlay"></div>
    </section>


    <script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script crossorigin src="https://unpkg.com/react@15/dist/react.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
   
    <!-- <script src="@Url.Content("~/Scripts/nav.jsx")"></script> -->
    <script src="~/Scripts/login_registration.jsx"></script>
</body>
</html>
