@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid" style="margin-top:4px">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="border-top:1px solid white;">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="http://placehold.it/1350x400/16a085/ffffff&text=About">
                <div class="carousel-caption">
                    
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem
                        ipsum dolor sit amet, consetetur sadipscing elitr.
                    </p>
                </div>
            </div>
            <!-- End Item -->
            <div class="item">
                <img src="http://placehold.it/1350x400/e67e22/ffffff&text=Benefits">
                <div class="carousel-caption">
                    
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem
                        ipsum dolor sit amet, consetetur sadipscing elitr.
                    </p>
                </div>
            </div>
            <!-- End Item -->
            <div class="item">
                <img src="http://placehold.it/1350x400/2980b9/ffffff&text=Services">
                <div class="carousel-caption">
                    
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem
                        ipsum dolor sit amet, consetetur sadipscing elitr.
                    </p>
                </div>
            </div>
            <!-- End Item -->
            <div class="item">
                <img src="http://placehold.it/1350x400/8e44ad/ffffff&text=Team">
                <div class="carousel-caption">
                    
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem
                        ipsum dolor sit amet, consetetur sadipscing elitr.
                    </p>
                </div>
            </div>
            <!-- End Item -->
        </div>
        <!-- End Carousel Inner -->
        <ul class="nav nav-pills nav-justified">
            <li data-target="#myCarousel" data-slide-to="0" class="active">
                <a href="#">
                    About Us<small>
                        What is Parents Bank?
                    </small>
                </a>
            </li>
            <li data-target="#myCarousel" data-slide-to="1">
                <a href="#">
                    Benefits<small>
                        Why to use Parents Bank?
                    </small>
                </a>
            </li>
            <li data-target="#myCarousel" data-slide-to="2">
                <a href="#">
                    Services<small>
                        What we offer?
                    </small>
                </a>
            </li>
            <li data-target="#myCarousel" data-slide-to="3">
                <a href="#">
                    Team<small>
                        Who we are?
                    </small>
                </a>
            </li>
        </ul>
    </div>
    <!-- End Carousel -->
</div>

<div class="container">
        <div class="row">
        <div class="col-md-4">
            <h2>Expecting a Child?</h2>
            <p>
                Expecting that you might be in different stages of life, let’s assume first that you are just expecting a child. 
            </p>
            <p><a class="btn btn-success" href="https://www.whattoexpect.com/pregnancy/save-for-your-babys-future.aspx" target="_blank">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Kid in School</h2>
            <p>If you are in a stage where your kid is in school, it’s better to start saving for college from now. </p>
            <p><a class="btn btn-success" target="_blank" href="https://www.moneytalksnews.com/ask-stacy-1118-whats-the-best-way-save-for-kids-college/">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Money Discussion with Kids</h2>
            <p>For some parents, talking to a child about money is almost as hard as broaching some of those other difficult subjects.</p>
            <p><a class="btn btn-success" target="_blank" href="http://www.360financialliteracy.org/Life-Stages/Parents-Children">Learn more &raquo;</a></p>
        </div>
    </div>
</div>
<